
  
   #team{
    padding-bottom: 4%;
  }
   /* DESCRIPTION AND CARDS */


    .description, .cards{
      margin-top: 20vh;
  }
  .description p{
      font-size: 20px;
      width: 80%;
      margin-left: 10%;
  }

  
  /* CARD SECTION */

  


  .cards{
      display: flex;
      flex-direction: row;
      width: 90%;
      margin-left: 10%;
  }
  .card{
      width: 25%;
      margin-right: 5%;
      background-image: linear-gradient(to right, #485563 0%, #29323c 100%);
      height: 45vh;
      border-radius: 1em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1f); 
  }
  .card h1{
      grid-column: 1/3;
      grid-row: 1/2;
      text-align: center;
      margin-top: 5%;
      color: rgb(230, 230, 230);
      font-family: 'Cinzel', serif;
      font-size: 16px;
  }
  .image{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img{
      width: 85%;
      border-radius: 1em;
  }
  .cardDescription{
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-self: center;
      width: 90%;
  }
  .listSkills li{
      color: black;
      list-style: none;
  }
  .link{
      grid-column: 1/3;
      align-items: center;
      justify-self: center;
  }
  .link a{
      font-size: 40px;
      color: rgb(230, 230, 230);
  }
  .link a:hover{
      color: rgb(20, 20, 20);
  }
  